@import 'tailwindcss';

@layer utilities {
   .font-segoe {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
}

@theme {
   --color-light-primary: #509bd3;
   --color-whitesmoke: #f5f5f5;

   --animate-selected-page: selected-page 0.325s ease;
}

@keyframes selected-page {
   35% {
      transform: translateX(10px) scale(1.085);
   }
}

/* nav-menu selected page */
#nav-menu > ul > li a:not(.active):hover + hr {
   opacity: 0.625;
}

#nav-menu > ul > li a.active + hr,
#nav-menu > ul > li a:not(.active):active + hr {
   opacity: 1;
}
